<div class="col dish-more-info">
  <div class="card border-info">
    <img
      src="{{dish.image}}"
      class="card-img-top dishImages"
      alt="{{dish.title}}"
    />
    <div class="card-body">
      <h5 class="card-title">{{dish.title}}</h5>
      <a href="/dish/{{dish._id}}" class="card-link">More Info</a>
      <form method="POST" action="/order/item/{{dish._id}}">
        <input type="hidden" name="currentPage" value="{{currentRoute}}" />
        <button class="card-link btn btn-link">Add Cart</button>
      </form>
    </div>

  </div>
</div>