<div class="user-information">
  <div>
    <P>Name: {{currentUser.name}}</P>
    <p>Email: {{currentUser.email}}</p>
    <P>Phone Number: {{currentUser.phoneNr}}</P>
  </div>
  <div>
    <p>Reservation Information</p>
    <p>Date:{{currentUser}}</p>
    <p>Time:{{currentUser}}</p>
    <p>Number of People:{{currentUser}}</p>
  </div>
</div>